main {
  min-height: 75vh;
}
.custom-card {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.custom-card .card-img {
  height: inherit;
}
.custom-card-title {
  text-overflow: ellipsis;
  overflow: hidden; 
  width: inherit; 
  height: 1.2em; 
  white-space: nowrap;
}
.nav-align-right {
  margin-left: auto;
}
.no-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: grey;
}
.custom-icon-size {
  transform: scale(5);
}
.image-max-height {
  height:250px;
}
.text-decoration-none {
  color: #696969;
}
.item-row-thumbnail {
  margin-top: auto!important;
  margin-bottom: auto;
}
.item-row-thumbnail i {
  transform: scale(2);
}
.item-row-title {
  margin-top: 1rem;
}
.item-row-title p {
  margin-bottom: 0!important;
}
.item-row-images {
  margin-top: 0.5rem!important;
}
